build
node_modules
.DS_Store
.swiftpm
ktfmt.jar
# Ignore Gradle project-specific cache directory
.gradle
docs/docs/Events/Definitions/**/*.md
docs/docs/Experiments/Definitions/**/*.md
google-credentials.json
.env