build
node_modules
.DS_Store
.swiftpm
ktfmt.jar
# Ignore Gradle project-specific cache directory
.gradle
docs/docs/Definitions/**/*.md
docs/docs/Definitions/**/*.md
google-credentials.json
.env
client/ts/dist/**/*
.next